.destabContainer{
    display: flex;
    flex-direction: column;
}
.halfPointText{
    color: white;
    margin-left: 5px;
}
.destabilizer{
    color: #bfbfbf;
    background-color: rgba(150, 150, 150, 0.59);
    border: 3px solid #7e7e7e;
    width: 200px;
    height: 75px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
}
.navBar{
    display: flex;
    margin-top: 15px;
    margin-left: 100px;
}
.navButton{
    margin-left: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
}