#versionText{
    color:white;
    margin-left: 43%;
    margin-top: 0.5%;
    text-align: center;}
#temporaryCredits{
    color:white;
    text-align: center;
    margin-left: 30%;
}
#fullReset{
    background-color: #373737;
    color: #d60000;
    margin-top: 10%;
    margin-left: 36%;
}
#increasersNav{
    color: #a5a5a5;
    background-color: #1c2829;
    border: 3px solid #005260;
}
#settingsNav{
    color: #000000;
    background-color: #4c4c4c;
    border: 3px solid #373737;
}
